extends layout

block content
    .row.banner
        .col-12
            h1 About
    .row
        .col-12.col-lg-8
            p
                | StarLink was created to help people find places to sit down and get a bit of work done.
                | <br/><br/>
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ex ex, dapibus ut felis a, sollicitudin finibus nulla. Sed eleifend purus et venenatis auctor. Mauris tempor ullamcorper lobortis. Vestibulum blandit magna ligula, ut lobortis sem rhoncus sit amet. Phasellus blandit, elit vitae pretium hendrerit, sapien purus tincidunt justo, at consectetur nunc lorem id massa. Maecenas libero enim, fringilla at ex sed, sagittis laoreet lorem. Nam eget neque et lorem convallis tempor. Suspendisse porta vulputate dolor, sit amet convallis erat vestibulum et.
                | <br/><br/>
                | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras est velit, tincidunt non varius a, eleifend sit amet nibh. Aenean ut augue eget arcu elementum elementum eu id justo. Phasellus eu ante libero. Vivamus gravida metus ullamcorper, scelerisque justo quis, blandit turpis. Nunc scelerisque sem vel auctor mattis. Suspendisse in lacinia lorem. Maecenas semper, ipsum et venenatis gravida, erat diam blandit mauris, ac scelerisque diam ex a sapien. Etiam sollicitudin diam purus, non tristique neque efficitur eu. Integer sodales nulla mauris, vel venenatis ipsum imperdiet nec. Donec quis convallis ex, sed gravida tortor. Quisque commodo magna consequat, fringilla ex vel, mattis lorem. Integer vel egestas dolor. Nullam ac orci eu arcu pharetra scelerisque. Aliquam sed rhoncus eros. Integer nulla justo, sollicitudin placerat sapien vel, sollicitudin volutpat ipsum.